#inicio{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bg-img{
    position: absolute;
    width: 2800px;
    top: 50%;
    left: calc(50% - 80px);
    transform: translate(-50%, -50%);
    filter: brightness(50%);
    z-index: 1;
}

.trofeu1{
    position: absolute;
    width: 40vw;
    top: calc(50% + 200px);
    left: calc(50% - 600px);
    transform: translate(-50%, -50%);
    z-index: 2;
    filter: grayscale(30%);
}

.trofeu2{
    position: absolute;
    width: 60vw;
    top: calc(50% + 200px);
    left: calc(50% - 200px);
    transform: translate(-50%, -50%);
    z-index: 3;

    filter: grayscale(30%);
}

.trofeu3{
    position: absolute;
    width: 50vw;
    top: calc(50% + 200px);
    left: calc(50% - 20rem);
    transform: translate(-50%, -50%);
    z-index: 4;

    filter: grayscale(30%);
}

.trofeu4{
    position: absolute;
    width: 60vw;
    top: calc(50% + 200px);
    left: calc(50% - 8rem);
    transform: translate(-50%, -50%);
    z-index: 5;

    filter: grayscale(30%);
}

.text{
    position: absolute;
    z-index: 8;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9rem;
    color: white;
}

.playhard{
    position: absolute;
    width: 80vw;
    top: calc(50% + 100px);
    left: calc(50% + 300px);
    transform: translate(-50%, -50%);
    z-index: 7;
    filter: brightness(80%);
}